<%- include("templates/header", {tituloWeb: 'Página de mascotas'}) %>
<body>
    <div class="container">

        <h1>CRUD MONGODB</h1>

        <a href="/mascotas/crear">
            <button>Crear nueva mascota</button>
        </a>

        <table>
            <thead>
                <tr>
                    <th>NOMBRE</th>
                    <th>DESCRIPCION</th>
                    <th>ACCIÓN</th>
                </tr>
            </thead>
            <tbody>
                <% if (arrayMascotasDB.length > 0) { %>
                    <% arrayMascotasDB.forEach(mascota => { %>
                        <tr>
                            <td><%= mascota.nombre %> </td>
                            <td><%= mascota.descripcion %> </td>
                            <td><a href="/mascotas/<%= mascota.id %>"><button>Editar</button></a></td>
                        </tr>
                    <% }) %>
                <% } %>
            </tbody>
        </table>
        
    </div>
</body>
</html>